<h1>ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <p class="text"><%= f.label :メールアドレス %></p>
  <p class="textarea"><%= f.email_field :email, size: 30 %></p>  
  <p class="text"><%= f.label :パスワード %></p> 
  <p class="textarea"><%= f.password_field :password, size: 30 %></p> 
  <%= f.submit "ログイン" %>
<% end %>