<h1>ユーザー編集画面</h1>
<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= @user.errors.count%>件のエラーより<%= @user.name if @user.name %><%= "ユーザ"  if @user.name.empty? %>の登録ができませんでした。</h2>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
		<% end %>
		</ul>
	</div>
<% end %>
<%= form_with(model: @user, local: true ) do |f| %>
  <%= f.label "お名前：" %><br>
  <%= f.text_field :name %><br>
  <%= f.label "メールアドレス：" %><br>
  <%= f.text_field :email %><br>
  <%= f.label "パスワード："  %><br>
  <%= f.password_field :password %><br>
  <%= f.label "パスワード確認："  %><br>
  <%= f.password_field :password_confirmation %><br><br>
  <%= f.label "画像" %>
  <% if @user.image.url  %>
    <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <% end %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %><br><br>
  <%= f.submit "アカウント編集" %><br><br>
<% end %>
<%= link_to "戻る", user_path(@user.id)%>