<h2 class="user_new_title">登録して友達の写真や動画をチェックしよう</h2>
<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= @user.errors.count%>件のエラーにより<%= @user.name if @user.name %><%= "ユーザ"  if @user.name.empty? %>の登録ができません</h2>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
		<% end %>
		</ul>
	</div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <p class="text"><%= f.label :お名前 %></p>
  <p class="textarea"><%= f.text_field :name, size: 30 %></p>
  <p class="text"><%= f.label :メールアドレス %></p>
  <p class="textarea"><%= f.email_field :email, size: 30 %></p>
  <p class="text"><%= f.label :パスワード %></p>
  <p class="textarea"><%= f.password_field :password, size: 30 %></p>
  <p class="text"><%= f.label :パスワード確認 %></p>
  <p class="textarea"><%= f.password_field :password_confirmation, size: 30 %></p>
  <p class="text">
    <%= f.label "画像" %><br>
    <% if @user.image.url  %>
      <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
    <% end %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </p><br>
  <%= f.submit "登録する" %>
<% end %>