<h1>ユーザー:<%= @user.name %></h1>
<p>メールアドレス: <%= @user.email %></p>
<p>
  <strong>Image</strong>
  <%= image_tag @user.image.url%>
</p>
<%= link_to '投稿する', new_picture_path %>
<%= link_to "一覧画面にもどる", pictures_path %>