<h1>投稿一覧</h1>
<% @pictures.each do |picture| %>
  <p>
    投稿者：<%= picture.user.name %>　
    タイトル：<%= picture.title %>
  </p>
  <%= link_to '詳細', picture %>
  <% if picture.user.id == current_user.id %>
    <td><%= link_to '編集', edit_picture_path(picture) %></td>
    <td><%= link_to '削除', picture, method: :delete, data: { confirm: '本当に消してもいいですか？' } %></td>
  <% end %>          
<% end %><br><br>
<%= link_to '新規投稿', new_picture_path %>