<h1>投稿一覧</h1>
<% @pictures.each do |picture| %>
  <p class="text">
    投稿者：<%= picture.user.name %>　
    タイトル：<%= picture.title %>
  </p>
  <span class="btn_link2"><%= link_to '詳細', picture %></span>
  <% if picture.user.id == current_user.id %>
    <td><span class="btn_link2"><%= link_to '編集', edit_picture_path(picture) %></span></td>
    <td><span class="btn_link2"><%= link_to '削除', picture, method: :delete, data: { confirm: '本当に消してもいいですか？' } %></span></td>
  <% end %>          
<% end %><br><br>
<span class="btn_other"><%= link_to '新規投稿', new_picture_path %></span>